body {
	padding-top: 60px;
	padding-bottom: 40px;
	font-size: 16px;
}

body > a { text-decoration: none; }

h1 { clear:both; }

ul.wordsListing li { 
	padding: 5px; 
	background-color: #C0C0C0; 
	border: 1px solid #000; 
	border-radius: 4px; 
	margin-bottom: 5px;
	height: 20px;
}

ul.wordsListing li a { float: left; font-size: 18px; text-decoration: none; }

.sidebar-nav { padding: 9px; }

div#about, div#contact {
	float:right;
	width: 98%;
	padding: 10px;
	background-color: #efefef;
	border: #000000 1 px solid;
	margin: 20px 0px;
}


div.close { float: right; height: 14px; width:14px; font-size: 16px; font-weight: bold; }

div.hero-unit .alert-error { display: none; z-index: 200; float:left; width: 600px; position: absolute; top: 80px; }
/* footer */
#copyright-declaration { float:right; font-size: 11px; margin-top: 40px;}

.dictionary { float: left; border-radius: 4px; width: 99%; }
.dictionary-list-item { 
	float:left; 
	height: 20px; 
	border-radius: 6px; 
	background-color: #efefef; 
	margin-right: 4px; 
	margin: 6px 6px;
	padding: 10px 14px;
	font-size: 18px;
	border: 1px solid;
}

p a#dictionaryAddBtn { float: right; }


/*
*
*	styles
*	inherited from happy project 
*
*/



#rating_value {
  font-size: 18em;
  font-family: "Arial Black";
  font-weight: bold;
  height:50px;
  border:0;
  background-color: #efefef;
  float: right;
}

.rating {
  font-size: 2.4em;
  font-family: "Arial Black";
  font-weight: bold;
  height:50px;
  border:0;
  clear:both;
  width: 100%;
}

#slider { width:60%;}

#container1, #container2, #container3, #container4, #container5, #container6 {
	width : 320px;
	height: 284px;
}

div.rateCategory { float: left; clear:both; width: 60%; }
div.rateCategory a.dropdown-toggle, div.rateCategory ul.dropdown-menu { float:right; }

.ratingsListing {
  margin-bottom: 18px;
  margin-left: 4;
  list-style: none;
}
.ratingsListing li { margin-bottom: 10px;}
.ratingsListing li.nav-header { margin-bottom: 20px;}
div.nav-header.ratingsListingHeader { 
	margin-bottom: 0;
	font-size: 60px;
	line-height: 1;
	letter-spacing: -1px;
	color: inherit;
	font-size: 18px; 
	font-weight: 700; 
	clear:both; 
	margin: 5px 0px 20px 5px; 
	padding: 10px;
	text-transform: uppercase;
}
    
.label, .badge {
	font-size: 32px;  	
}



.form-horizontal .controls { margin-left: 80px; }
.form-horizontal .control-label { width: 20px; text-align: left;  }
